.List {
    margin-top: 10px;
    background-color: var(--bg-2);
        border-radius: 12px;
        padding: 2rem;
        list-style: none;
}

.Sceleton {
background-color: var(--gray-2);
    width: 150px;
    border-radius: 5px;
    color: var(--black-2);
        font-size: 1.6rem;
        font-weight: 500;
        height: auto;
        margin: 0 auto;
        padding: 0.5rem 1rem;
        text-align: center;
}